@model My_First_Finance_App.Models.Category

<!DOCTYPE html>
<html>
<head>
    <title>Category Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">My Finance App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Transaction" asp-action="Index">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="Index">Users</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Category Details</h2>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="mt-3">
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery (needed for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
