@model Category
<h2>Edit Category</h2>
<form asp-action="Edit" asp-route-categoryId="@Model.CategoryId" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Category Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>